In [110]:
import pandas as pd
import numpy as np

In [111]:
df = pd.read_csv('analysis_data_with_missing.csv')
df.head()

    age   salary  gender    city  experience_years
0   NaN  23343.0    Male  Mumbai               NaN
1  69.0  33500.0    Male  Nagpur               1.0
2  46.0      NaN    Male   Delhi               0.0
3  32.0  49375.0  Female  Nagpur               0.0
4  60.0  29662.0    Male   Delhi               NaN

In [112]:
df.isnull().mean()*100

age                 10.0
salary              10.0
gender              10.0
city                10.0
experience_years    10.0
dtype: float64

In [113]:
from sklearn.model_selection import train_test_split 
from sklearn.compose import ColumnTransformer 
from sklearn.impute import SimpleImputer

In [114]:
x_train, x_test, y_train, y_test = train_test_split(
    df.drop('experience_years', axis=1), 
    df['experience_years'], 
    test_size=0.2, 
    random_state=3
)
x_train.shape, x_test.shape

((400, 4), (100, 4))

In [115]:
num_data = SimpleImputer(strategy='median')
cat_data = SimpleImputer(strategy='most_frequent')

In [116]:
tfr = ColumnTransformer([
    ('num_data', num_data, ['age', 'salary']),
    ('cat_data', cat_data, ['gender', 'city'])
], remainder='passthrough')

In [117]:
x_train = tfr.fit_transform(x_train)
x_test = tfr.transform(x_test)

In [118]:
x_train

array([[45.0, 81629.0, 'Other', 'Nagpur'],
       [42.0, 125955.0, 'Female', 'Nagpur'],
       [24.0, 108668.0, 'Other', 'Delhi'],
       ...,
       [69.0, 109339.0, 'Female', 'Nagpur'],
       [32.0, 41352.0, 'Other', 'Nashik'],
       [47.0, 102844.0, 'Female', 'Mumbai']], dtype=object)

In [119]:
y_imp = SimpleImputer(strategy='median')
y_train = y_imp.fit_transform(y_train.to_numpy().reshape(-1,1))
y_test = y_imp.transform(y_test.to_numpy().reshape(-1,1))

In [120]:
y_train

array([[ 8.],
       [10.],
       [ 2.],
       [17.],
       [18.],
       [ 1.],
       [ 0.],
       [ 1.],
       [ 1.],
       [14.],
       [ 8.],
       [11.],
       [ 1.],
       [ 2.],
       [ 5.],
       [10.],
       [19.],
       [ 4.],
       [ 9.],
       [11.],
       [15.],
       [ 3.],
       [ 1.],
       [ 3.],
       [15.],
       [ 5.],
       [12.],
       [16.],
       [14.],
       [10.],
       [14.],
       [ 8.],
       [ 5.],
       [ 6.],
       [ 7.],
       [ 9.],
       [ 8.],
       [ 4.],
       [16.],
       [14.],
       [14.],
       [ 6.],
       [ 7.],
       [16.],
       [ 4.],
       [ 4.],
       [ 5.],
       [11.],
       [ 2.],
       [14.],
       [12.],
       [13.],
       [11.],
       [17.],
       [16.],
       [ 8.],
       [19.],
       [ 5.],
       [ 8.],
       [ 8.],
       [ 4.],
       [10.],
       [14.],
       [15.],
       [11.],
       [ 1.],
       [ 0.],
       [10.],
       [10.],
       [18.],
       [ 0.],
       [18.],
       [ 0.],
       [ 3.],
       [ 2.],
       [ 8.],
       [11.],
       [ 4.],
       [ 0.],
       [16.],
       [ 2.],
       [12.],
       [10.],
       [15.],
       [10.],
       [ 7.],
       [14.],
       [10.],
       [ 2.],
       [15.],
       [10.],
       [10.],
       [19.],
       [ 5.],
       [ 1.],
       [10.],
       [ 8.],
       [12.],
       [19.],
       [11.],
       [17.],
       [10.],
       [14.],
       [10.],
       [19.],
       [11.],
       [ 5.],
       [10.],
       [11.],
       [ 4.],
       [ 9.],
       [12.],
       [ 5.],
       [12.],
       [ 5.],
       [ 8.],
       [14.],
       [13.],
       [ 5.],
       [ 0.],
       [ 1.],
       [14.],
       [11.],
       [12.],
       [18.],
       [10.],
       [10.],
       [ 4.],
       [19.],
       [ 2.],
       [10.],
       [18.],
       [ 1.],
       [15.],
       [ 2.],
       [10.],
       [ 1.],
       [ 1.],
       [ 9.],
       [13.],
       [ 4.],
       [17.],
       [13.],
       [11.],
       [13.],
       [ 4.],
       [ 4.],
       [19.],
       [10.],
       [ 0.],
       [10.],
       [10.],
       [11.],
       [ 7.],
       [15.],
       [ 0.],
       [ 6.],
       [10.],
       [ 6.],
       [11.],
       [17.],
       [19.],
       [11.],
       [ 5.],
       [15.],
       [18.],
       [17.],
       [ 0.],
       [ 8.],
       [ 9.],
       [13.],
       [ 9.],
       [ 5.],
       [10.],
       [ 6.],
       [ 1.],
       [ 5.],
       [11.],
       [ 5.],
       [ 1.],
       [ 6.],
       [17.],
       [12.],
       [ 5.],
       [14.],
       [11.],
       [ 1.],
       [14.],
       [18.],
       [17.],
       [13.],
       [ 1.],
       [17.],
       [ 1.],
       [14.],
       [19.],
       [ 7.],
       [ 6.],
       [10.],
       [15.],
       [16.],
       [19.],
       [ 6.],
       [17.],
       [17.],
       [ 1.],
       [ 8.],
       [ 0.],
       [12.],
       [12.],
       [11.],
       [ 3.],
       [ 5.],
       [18.],
       [ 3.],
       [18.],
       [10.],
       [ 9.],
       [17.],
       [13.],
       [ 8.],
       [14.],
       [ 3.],
       [ 3.],
       [12.],
       [10.],
       [15.],
       [ 3.],
       [11.],
       [17.],
       [ 4.],
       [16.],
       [ 5.],
       [ 9.],
       [17.],
       [14.],
       [ 7.],
       [11.],
       [ 0.],
       [11.],
       [ 2.],
       [19.],
       [ 2.],
       [ 5.],
       [18.],
       [ 9.],
       [12.],
       [17.],
       [ 0.],
       [19.],
       [ 7.],
       [16.],
       [ 7.],
       [12.],
       [14.],
       [13.],
       [19.],
       [18.],
       [15.],
       [17.],
       [ 6.],
       [17.],
       [ 7.],
       [10.],
       [ 2.],
       [17.],
       [17.],
       [10.],
       [ 3.],
       [ 8.],
       [10.],
       [18.],
       [ 7.],
       [ 2.],
       [14.],
       [16.],
       [13.],
       [15.],
       [19.],
       [13.],
       [ 9.],
       [11.],
       [ 9.],
       [ 4.],
       [ 1.],
       [ 3.],
       [17.],
       [16.],
       [10.],
       [14.],
       [10.],
       [ 6.],
       [ 3.],
       [ 3.],
       [10.],
       [10.],
       [10.],
       [10.],
       [11.],
       [ 3.],
       [ 5.],
       [ 9.],
       [13.],
       [16.],
       [ 0.],
       [17.],
       [10.],
       [ 6.],
       [11.],
       [ 0.],
       [10.],
       [10.],
       [15.],
       [11.],
       [ 9.],
       [ 0.],
       [ 8.],
       [19.],
       [10.],
       [ 2.],
       [13.],
       [11.],
       [12.],
       [10.],
       [11.],
       [17.],
       [15.],
       [ 0.],
       [11.],
       [14.],
       [ 3.],
       [ 1.],
       [ 4.],
       [10.],
       [ 5.],
       [12.],
       [ 5.],
       [17.],
       [19.],
       [ 4.],
       [ 7.],
       [11.],
       [10.],
       [13.],
       [ 2.],
       [ 8.],
       [14.],
       [10.],
       [ 1.],
       [11.],
       [12.],
       [ 7.],
       [ 3.],
       [ 4.],
       [ 6.],
       [16.],
       [10.],
       [19.],
       [12.],
       [19.],
       [ 4.],
       [15.],
       [ 3.],
       [ 2.],
       [13.],
       [ 3.],
       [ 2.],
       [11.],
       [ 1.],
       [ 0.],
       [ 3.],
       [12.],
       [ 0.],
       [ 7.],
       [ 0.],
       [15.],
       [ 6.],
       [10.],
       [10.],
       [16.],
       [ 9.],
       [ 5.],
       [10.],
       [ 3.],
       [12.],
       [ 6.],
       [ 9.],
       [13.],
       [ 8.],
       [ 3.],
       [ 0.],
       [ 7.],
       [ 9.],
       [12.],
       [ 7.],
       [ 2.],
       [11.],
       [18.],
       [10.],
       [18.]])