In [1]:
import pandas as pd;
import numpy as np;

In [2]:
df = pd.read_csv('titanic_custom_100rows.csv')
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3  female  30.3      1      0  95.8961        S
1         1       2  female  18.0      1      1  69.2931        C
2         0       2  female  37.9      2      1  50.8395        C
3         0       2  female  34.3      1      0  51.8374        C
4         0       2  female  19.0      2      2  12.9120        C