In [1]:
import pandas as pd; 
import numpy as np; 
import matplotlib.pyplot as plt;
import seaborn as sns;

In [2]:
df = pd.read_csv('customer_data.csv')
df.head()

   Age  EstimatedSalary  Purchased
0   58           109599          1
1   48            92355          0
2   34           111248          1
3   27            44762          1
4   40            31046          0

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
    df.drop('Purchased', axis=1),
    df['Purchased'], 
    test_size=0.3, 
    random_state=0
)

x_train.shape,  x_test.shape

((840, 2), (360, 2))

In [7]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

scale.fit(x_train)

x_train_scale = scale.transform(x_train)
x_test_scale = scale.transform(x_test)

In [12]:
x_train_scale = pd.DataFrame(x_train_scale, columns=x_train.columns)
x_test_scale = pd.DataFrame(x_test_scale, columns=x_test.columns)

In [15]:
np.round(x_train.describe(), 1) # This rounds all the values to 1 decimal place

         Age  EstimatedSalary
count  840.0            840.0
mean    40.2          87002.9
std     11.7          37850.5
min     20.0          20060.0
25%     30.0          53888.8
50%     41.0          87662.0
75%     51.0         120734.8
max     59.0         149972.0

In [16]:
np.round(x_train_scale.describe(), 1)

         Age  EstimatedSalary
count  840.0            840.0
mean    -0.0              0.0
std      1.0              1.0
min     -1.7             -1.8
25%     -0.9             -0.9
50%      0.1              0.0
75%      0.9              0.9
max      1.6              1.7