In [1]:
import pandas as pd;

In [22]:
df = pd.read_json('random_data.json')
data = pd.json_normalize(df['data']).set_index('id')
data

,name,email,age,city,country,salary,department,is_active,hobbies
id,,,,,,,,,
1,Alex Johnson,alex.johnson@email.com,28,New York,USA,75000,Engineering,True,"[hiking, photography, coding]"
2,Maria Rodriguez,m.rodriguez@email.com,34,Madrid,Spain,62000,Marketing,True,"[reading, yoga, cooking]"
3,Kenji Tanaka,k.tanaka@email.com,31,Tokyo,Japan,85000,Research,False,"[chess, gardening, anime]"
4,Sarah Miller,sarah.m@email.com,26,Toronto,Canada,58000,Sales,True,"[skiing, painting]"
5,David Chen,d.chen@email.com,42,Shanghai,China,92000,Engineering,True,"[martial arts, reading, travel]"
6,Lisa Wang,lisa.w@email.com,29,Beijing,China,68000,Finance,True,"[dancing, music]"
7,James Wilson,j.wilson@email.com,38,London,UK,79000,Management,True,"[golf, wine tasting]"
8,Fatima Al-Mansoori,f.mansoori@email.com,27,Dubai,UAE,71000,Marketing,False,"[shopping, swimming]"
9,Michael Brown,m.brown@email.com,45,Chicago,USA,105000,Executive,True,"[fishing, woodworking]"
10,Sophie Martin,s.martin@email.com,32,Paris,France,67000,Design,True,"[fashion, photography]"
11,Carlos Silva,c.silva@email.com,33,São Paulo,Brazil,53000,Sales,True,"[soccer, cooking]"
12,Anna Kowalski,a.kowalski@email.com,30,Warsaw,Poland,61000,Engineering,True,"[biking, travel]"
13,Victor Hugo,v.hugo@email.com,36,Lyon,France,72000,HR,False,"[writing, reading]"
14,Emily Davis,e.davis@email.com,25,Sydney,Australia,54000,Support,True,"[surfing, painting]"
15,Omar Sheikh,omar.s@email.com,40,Doha,Qatar,88000,Finance,True,"[cricket, travel, gym]"

In [27]:
data2 = pd.read_json('random_data.json')
pd.json_normalize(data2['data']).set_index('id')

,name,email,age,city,country,salary,department,is_active,hobbies
id,,,,,,,,,
1,Alex Johnson,alex.johnson@email.com,28,New York,USA,75000,Engineering,True,"[hiking, photography, coding]"
2,Maria Rodriguez,m.rodriguez@email.com,34,Madrid,Spain,62000,Marketing,True,"[reading, yoga, cooking]"
3,Kenji Tanaka,k.tanaka@email.com,31,Tokyo,Japan,85000,Research,False,"[chess, gardening, anime]"
4,Sarah Miller,sarah.m@email.com,26,Toronto,Canada,58000,Sales,True,"[skiing, painting]"
5,David Chen,d.chen@email.com,42,Shanghai,China,92000,Engineering,True,"[martial arts, reading, travel]"
6,Lisa Wang,lisa.w@email.com,29,Beijing,China,68000,Finance,True,"[dancing, music]"
7,James Wilson,j.wilson@email.com,38,London,UK,79000,Management,True,"[golf, wine tasting]"
8,Fatima Al-Mansoori,f.mansoori@email.com,27,Dubai,UAE,71000,Marketing,False,"[shopping, swimming]"
9,Michael Brown,m.brown@email.com,45,Chicago,USA,105000,Executive,True,"[fishing, woodworking]"
10,Sophie Martin,s.martin@email.com,32,Paris,France,67000,Design,True,"[fashion, photography]"
11,Carlos Silva,c.silva@email.com,33,São Paulo,Brazil,53000,Sales,True,"[soccer, cooking]"
12,Anna Kowalski,a.kowalski@email.com,30,Warsaw,Poland,61000,Engineering,True,"[biking, travel]"
13,Victor Hugo,v.hugo@email.com,36,Lyon,France,72000,HR,False,"[writing, reading]"
14,Emily Davis,e.davis@email.com,25,Sydney,Australia,54000,Support,True,"[surfing, painting]"
15,Omar Sheikh,omar.s@email.com,40,Doha,Qatar,88000,Finance,True,"[cricket, travel, gym]"

In [29]:
df = pd.read_csv('student_placement_data.csv', index_col='Unnamed: 0')
df

            cgpa   iq  placement
Unnamed: 0
0            6.8  123          1
1            5.9  106          0
2            5.3  121          0
3            7.4  132          1
4            5.8  142          0
...          ...  ...        ...
95           8.0  140          1
96           6.4  119          1
97           5.2   98          0
98           7.5  133          1
99           6.3  117          0

[100 rows x 3 columns]