In [1]:
import matplotlib.pyplot as plt;
import pandas as pd;

In [2]:
data = pd.read_json('student_dataset.json')

In [3]:
data

                                            students
0  {'id': 1, 'name': 'Aarav Patil', 'age': 18, 'g...
1  {'id': 2, 'name': 'Riya Sharma', 'age': 17, 'g...

In [ ]:
data2 = pd.read_json('URL')

Working with SQL........................................

In [9]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\91899\anaconda3\lib\site-packages (2.2.9)

In [10]:
import mysql.connector

In [ ]:
conn = mysql.connector.connect(host='localhost', user='root', password='', database='COLLEGE')

In [11]:
pd.read_sql_query('select * from STUDENT', conn)

NameError: name 'conn' is not defined

In [12]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Downloading psycopg2-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   --------------- ------------------------ 1.0/2.7 MB 6.2 MB/s eta 0:00:01
   --------------------------- ------------ 1.8/2.7 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 4.7 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.11

In [13]:
import psycopg2
import pandas as pd

In [21]:
conn = psycopg2.connect(
    host='localhost',
    database='college',
    user='postgres',
    password='',
    port=5432
)
df = pd.read_sql_query("SELECT * FROM student", conn)
df.head()

OperationalError: connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "postgres"