In [20]:
import pandas as pd;

In [22]:
data = pd.read_csv('customer_data_150.csv', index_col='Customer_ID')
data.head()

,Age,Gender,Item_Purchased,Category,Purchase_Amount_USD,Location,Size,Color,Season,Review_Rating,Subscription_Status,Shipping_Type,Discount_Applied,Promo_Code_Used,Previous_Purchases,Payment_Method,Frequency_of_Purchases
Customer_ID,,,,,,,,,,,,,,,,,
1,32,Other,Shoes,Footwear,390.95,Hyderabad,M,Black,Rainy,1.2,Inactive,Standard,1,NO,2,Card,Low
2,47,Female,Smartwatch,Electronics,5.39,Bangalore,-,Red,All,3.4,Active,Standard,0,YES,9,Wallet,High
3,20,Male,Eggs,Groceries,305.73,Hyderabad,S,Blue,All,4.8,Inactive,Express,1,YES,1,Wallet,High
4,25,Other,Boots,Footwear,90.82,Mumbai,XL,Blue,All,4.0,Inactive,Express,1,NO,3,Card,Low
5,51,Female,Laptop,Electronics,447.94,Bangalore,S,Green,All,4.0,Active,Standard,1,NO,12,UPI,Low

In [25]:
data2 = pd.read_csv('customer_data_150.csv', usecols=['Customer_ID', 'Age'])
data2.head()

   Customer_ID  Age
0            1   32
1            2   47
2            3   20
3            4   25
4            5   51

In [26]:
data3 = pd.read_csv('customer_data_150.csv', skiprows=[1,5], nrows=50)
data3

,Customer_ID,Age,Gender,Item_Purchased,Category,Purchase_Amount_USD,Location,Size,Color,Season,Review_Rating,Subscription_Status,Shipping_Type,Discount_Applied,Promo_Code_Used,Previous_Purchases,Payment_Method,Frequency_of_Purchases
0,2,47,Female,Smartwatch,Electronics,5.39,Bangalore,-,Red,All,3.4,Active,Standard,0,YES,9,Wallet,High
1,3,20,Male,Eggs,Groceries,305.73,Hyderabad,S,Blue,All,4.8,Inactive,Express,1,YES,1,Wallet,High
2,4,25,Other,Boots,Footwear,90.82,Mumbai,XL,Blue,All,4.0,Inactive,Express,1,NO,3,Card,Low
3,6,42,Other,Watch,Accessories,214.58,Mumbai,XL,Black,Rainy,3.8,Active,Prime,0,YES,4,Card,High
4,7,45,Other,Mobile,Electronics,425.77,Bangalore,M,Red,All,2.5,Inactive,Standard,0,NO,7,Card,High
5,8,52,Male,Rice,Groceries,486.00,Pune,S,Green,Winter,1.9,Inactive,Prime,0,YES,14,Cash,Medium
6,9,30,Other,Smartwatch,Electronics,20.56,Mumbai,XL,Green,All,3.8,Active,Prime,0,YES,14,Cash,Low
7,10,49,Other,Shoes,Footwear,148.43,Bangalore,M,Blue,Summer,2.2,Active,Express,1,NO,11,Wallet,Medium
8,11,45,Male,Eggs,Groceries,162.41,Mumbai,S,Red,Rainy,2.7,Inactive,Standard,0,YES,6,Card,High
9,12,54,Male,Jeans,Clothing,64.33,Bangalore,L,Red,All,2.5,Active,Express,1,NO,6,Card,High
10,13,34,Other,T-Shirt,Clothing,306.73,Delhi,XL,Green,All,4.6,Active,Express,1,YES,11,Card,Medium
11,14,28,Other,Boots,Footwear,124.87,Hyderabad,XL,Blue,Winter,2.6,Active,Standard,0,NO,5,Wallet,Low
12,15,53,Other,Eggs,Groceries,357.02,Pune,XL,White,Summer,3.8,Inactive,Prime,1,NO,0,Cash,Low
13,16,40,Other,Jeans,Clothing,439.28,Pune,XL,Blue,All,3.2,Inactive,Standard,1,YES,15,Card,Low
14,17,26,Male,Wallet,Accessories,177.86,Pune,XL,Red,All,4.4,Active,Express,1,NO,2,Wallet,Medium
15,18,42,Male,Jacket,Clothing,145.54,Delhi,M,Black,All,5.0,Inactive,Standard,1,YES,13,UPI,High
16,19,50,Other,Rice,Groceries,187.02,Hyderabad,L,Black,Rainy,4.2,Inactive,Standard,1,YES,0,UPI,Low
17,20,52,Male,Eggs,Groceries,26.58,Bangalore,XL,Green,Winter,4.7,Active,Standard,0,NO,16,Card,Low
18,21,50,Other,Eggs,Groceries,156.32,Mumbai,L,Blue,Summer,2.6,Inactive,Express,0,NO,13,Wallet,Medium
19,22,44,Female,Headphones,Electronics,439.30,Mumbai,S,Red,Rainy,3.8,Active,Standard,1,YES,2,Card,Low
20,23,24,Male,Wallet,Accessories,315.81,Bangalore,S,White,Rainy,2.4,Inactive,Express,1,NO,18,UPI,Medium
21,24,39,Male,Belt,Accessories,23.49,Pune,XL,Green,Summer,4.3,Inactive,Standard,0,NO,5,UPI,Medium
22,25,57,Male,Bread,Groceries,484.92,Delhi,L,Red,All,2.1,Inactive,Express,0,NO,4,Card,Low
23,26,18,Female,Hoodie,Clothing,458.03,Delhi,S,Green,Summer,3.6,Active,Prime,1,YES,4,Card,Low
24,27,43,Other,Eggs,Groceries,380.13,Mumbai,-,White,Summer,1.4,Inactive,Express,1,NO,4,Wallet,Medium
25,28,38,Other,Smartwatch,Electronics,176.42,Hyderabad,M,Blue,Winter,3.5,Inactive,Prime,1,NO,18,Card,Low
26,29,21,Other,Watch,Accessories,472.40,Bangalore,L,White,All,3.7,Active,Standard,0,YES,18,Cash,Low
27,30,18,Male,Boots,Footwear,327.48,Pune,XL,Green,Summer,1.9,Inactive,Express,0,YES,17,Cash,High
28,31,25,Male,Jeans,Clothing,423.21,Delhi,M,Black,Summer,3.0,Inactive,Standard,1,YES,10,UPI,Low
29,32,53,Female,Watch,Accessories,214.62,Pune,S,Black,All,1.5,Active,Prime,1,NO,4,Wallet,Low
30,33,42,Other,Cap,Accessories,56.05,Mumbai,S,White,All,2.6,Active,Prime,0,YES,3,Wallet,Low
31,34,29,Male,Jacket,Clothing,163.06,Bangalore,L,Blue,Rainy,1.3,Active,Prime,1,YES,19,Cash,Low
32,35,40,Male,Shoes,Footwear,61.16,Hyderabad,M,Blue,Rainy,5.0,Inactive,Standard,0,YES,10,Cash,Medium
33,36,27,Female,Shoes,Footwear,311.02,Hyderabad,-,Blue,Summer,4.3,Inactive,Express,0,YES,4,Card,High
34,37,39,Male,Watch,Accessories,473.89,Mumbai,-,White,All,2.5,Active,Prime,0,NO,6,Cash,Medium
35,38,56,Female,Headphones,Electronics,248.85,Hyderabad,M,White,Winter,1.2,Inactive,Standard,0,YES,6,UPI,High
36,39,42,Male,Wallet,Accessories,115.68,Delhi,XL,Green,All,3.2,Active,Standard,1,NO,10,Wallet,Low
37,40,36,Male,Boots,Footwear,263.93,Mumbai,S,Red,Summer,3.8,Active,Prime,0,YES,11,Card,Medium
38,41,45,Male,Sneakers,Footwear,142.30,Bangalore,XL,Blue,All,2.4,Inactive,Standard,0,NO,16,UPI,Low
39,42,30,Male,Wallet,Accessories,70.93,Pune,-,Blue,Rainy,3.9,Active,Standard,1,NO,17,Cash,Low
40,43,50,Female,Cap,Accessories,406.22,Mumbai,L,Green,Winter,2.5,Inactive,Prime,0,YES,12,UPI,Medium
41,44,18,Male,Jacket,Clothing,32.91,Bangalore,S,Green,Rainy,4.0,Active,Standard,0,YES,4,Card,Medium
42,45,38,Female,Rice,Groceries,106.50,Mumbai,L,Green,Summer,1.8,Active,Standard,1,NO,1,Wallet,High
43,46,51,Female,Laptop,Electronics,387.30,Pune,M,White,Summer,3.2,Active,Express,1,YES,16,Wallet,High
44,47,31,Female,Watch,Accessories,403.50,Bangalore,M,Blue,Winter,3.5,Active,Prime,0,YES,1,Wallet,Low
45,48,32,Female,Hoodie,Clothing,312.93,Pune,S,Green,Summer,1.6,Inactive,Standard,1,YES,19,Wallet,Low
46,49,19,Male,Laptop,Electronics,108.52,Pune,L,Black,Rainy,1.5,Active,Prime,0,NO,15,Wallet,Low
47,50,20,Other,Eggs,Groceries,335.44,Delhi,-,Blue,Rainy,1.2,Active,Express,1,NO,5,UPI,Low
48,51,43,Female,Hoodie,Clothing,185.31,Delhi,-,Black,Summer,1.4,Active,Standard,1,YES,10,Cash,Low
49,52,53,Male,Jeans,Clothing,46.84,Pune,-,White,Rainy,3.1,Inactive,Express,1,NO,13,Wallet,Medium

In [28]:
data4 = pd.read_csv('customer_data_150.csv', dtype={'Customer_ID':int})