In [1]:
import pandas as pd;

In [2]:
# 1. Import CSV File
data = pd.read_csv('customer_data_150.csv')
data.head()

,Customer_ID,Age,Gender,Item_Purchased,Category,Purchase_Amount_USD,Location,Size,Color,Season,Review_Rating,Subscription_Status,Shipping_Type,Discount_Applied,Promo_Code_Used,Previous_Purchases,Payment_Method,Frequency_of_Purchases
0,1,32,Other,Shoes,Footwear,390.95,Hyderabad,M,Black,Rainy,1.2,Inactive,Standard,1,NO,2,Card,Low
1,2,47,Female,Smartwatch,Electronics,5.39,Bangalore,-,Red,All,3.4,Active,Standard,0,YES,9,Wallet,High
2,3,20,Male,Eggs,Groceries,305.73,Hyderabad,S,Blue,All,4.8,Inactive,Express,1,YES,1,Wallet,High
3,4,25,Other,Boots,Footwear,90.82,Mumbai,XL,Blue,All,4.0,Inactive,Express,1,NO,3,Card,Low
4,5,51,Female,Laptop,Electronics,447.94,Bangalore,S,Green,All,4.0,Active,Standard,1,NO,12,UPI,Low

In [3]:
# 2. Open Csv file using URL

In [ ]:
# import requests
# from io import StringIO
# url = ""
# headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
# req = requests.get(url, headers=headers)
# data = StringIO(req.text)
# pd.read_csv(data)

In [11]:
# 3. Import TSV file 
df1 = pd.read_csv('Employee Dataset - TSV.txt', sep='\t')
df1.head()
# pd.read_csv('Employee Dataset - TSV.txt', sep='\t', names=[Employee Name, Age, ect...])

,Employee Name,Age,Last Working Day,Department,Education,Gender,Marital Status,Monthly Income,Years of Experience,Percent Salary Hike,Performance Rating
0,Jitesh,41,31-12-9999,Training,Masters,Male,Single,5993,8,11,3
1,Sanjit,49,31-12-9999,Sales,Masters,Male,Married,5130,1,23,4
2,John,37,31-12-9999,R&D,Doctorate,Male,Single,2090,6,15,3
3,Sandra,33,31-12-9999,Software Development,Undergraduate,Female,Married,2909,1,11,3
4,Madhu,27,31-12-9999,R&D,Masters,Male,Married,3468,9,12,3

In [12]:
# 4. Index_col parameter....
df = pd.read_csv('customer_data_150.csv', index_col='Customer_ID')
df.head()

,Age,Gender,Item_Purchased,Category,Purchase_Amount_USD,Location,Size,Color,Season,Review_Rating,Subscription_Status,Shipping_Type,Discount_Applied,Promo_Code_Used,Previous_Purchases,Payment_Method,Frequency_of_Purchases
Customer_ID,,,,,,,,,,,,,,,,,
1,32,Other,Shoes,Footwear,390.95,Hyderabad,M,Black,Rainy,1.2,Inactive,Standard,1,NO,2,Card,Low
2,47,Female,Smartwatch,Electronics,5.39,Bangalore,-,Red,All,3.4,Active,Standard,0,YES,9,Wallet,High
3,20,Male,Eggs,Groceries,305.73,Hyderabad,S,Blue,All,4.8,Inactive,Express,1,YES,1,Wallet,High
4,25,Other,Boots,Footwear,90.82,Mumbai,XL,Blue,All,4.0,Inactive,Express,1,NO,3,Card,Low
5,51,Female,Laptop,Electronics,447.94,Bangalore,S,Green,All,4.0,Active,Standard,1,NO,12,UPI,Low

In [ ]:
# 5. Header Parameter 
df = pd.read_csv('customer_data_150.csv', header=1) # If the Header was in fisth line

In [14]:
# 6. use_cols parameter
df6 = pd.read_csv('customer_data_150.csv', usecols=['Customer_ID', 'Age'])
df6.head()

   Customer_ID  Age
0            1   32
1            2   47
2            3   20
3            4   25
4            5   51

In [ ]:
# 7. Squeeze parameters
# df7 = pd.read_csv('customer_data_150.csv', usecols=['age'], squeeze=True)
# df7

In [18]:
# 8. Skiprows/nrows parameterab
pd.read_csv('customer_data_150.csv', skiprows=[1,2], nrows=100)

,Customer_ID,Age,Gender,Item_Purchased,Category,Purchase_Amount_USD,Location,Size,Color,Season,Review_Rating,Subscription_Status,Shipping_Type,Discount_Applied,Promo_Code_Used,Previous_Purchases,Payment_Method,Frequency_of_Purchases
0,3,20,Male,Eggs,Groceries,305.73,Hyderabad,S,Blue,All,4.8,Inactive,Express,1,YES,1,Wallet,High
1,4,25,Other,Boots,Footwear,90.82,Mumbai,XL,Blue,All,4.0,Inactive,Express,1,NO,3,Card,Low
2,5,51,Female,Laptop,Electronics,447.94,Bangalore,S,Green,All,4.0,Active,Standard,1,NO,12,UPI,Low
3,6,42,Other,Watch,Accessories,214.58,Mumbai,XL,Black,Rainy,3.8,Active,Prime,0,YES,4,Card,High
4,7,45,Other,Mobile,Electronics,425.77,Bangalore,M,Red,All,2.5,Inactive,Standard,0,NO,7,Card,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,98,56,Other,Belt,Accessories,5.55,Delhi,-,Green,All,1.0,Inactive,Standard,1,YES,16,UPI,Low
96,99,41,Male,Smartwatch,Electronics,391.02,Pune,M,Red,All,4.4,Inactive,Prime,1,YES,3,Wallet,Medium
97,100,34,Female,Boots,Footwear,355.74,Mumbai,M,Black,Winter,4.5,Inactive,Prime,0,NO,3,Cash,High
98,101,29,Other,Shoes,Footwear,37.48,Mumbai,L,Black,Winter,1.0,Inactive,Express,1,YES,3,UPI,High
99,102,56,Other,Watch,Accessories,398.43,Hyderabad,L,White,All,1.3,Inactive,Express,0,YES,2,UPI,Medium

In [ ]:
# 9. Encoding parameter..
 #pd.read_csv('customer_data_150.csv', encoding='')

In [ ]:
# 10. Skip bad lines.. 
df10 = pd.read_csv('customer_data_150.csv', error_bad_lines=False)

In [28]:
# 11.. Dtype
df11 = pd.read_csv('customer_data_150.csv', dtype={'Customer_ID':int}).info()
df11

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer_ID             150 non-null    int64
 1   Age                     150 non-null    int64
 2   Gender                  150 non-null    object
 3   Item_Purchased          150 non-null    object
 4   Category                150 non-null    object
 5   Purchase_Amount_USD     150 non-null    float64
 6   Location                150 non-null    object
 7   Size                    150 non-null    object
 8   Color                   150 non-null    object
 9   Season                  150 non-null    object
 10  Review_Rating           150 non-null    float64
 11  Subscription_Status     150 non-null    object
 12  Shipping_Type           150 non-null    object
 13  Discount_Applied        150 non-null    int64
 14  Promo_Code_Used         150 non-null    object
 15  Previous_Purchases      150 non-null    int64
 16  Payment_Method          150 non-null    object
 17  Frequency_of_Purchases  150 non-null    object
dtypes: float64(2), int64(4), object(12)
memory usage: 21.2+ KB

In [ ]:
# 12. Handling Dates
pd.read_csv('customer_data_150.csv', parse_dates=['Date'])

In [39]:
# # 13. Convertors
def rename(name):
   if name == 'Hyderabad':
       return 'HYD'
   else:
       return name

In [40]:
rename('Hyderabad')

'HYD'

In [41]:
pd.read_csv('customer_data_150.csv', converters={'Location': rename})

,Customer_ID,Age,Gender,Item_Purchased,Category,Purchase_Amount_USD,Location,Size,Color,Season,Review_Rating,Subscription_Status,Shipping_Type,Discount_Applied,Promo_Code_Used,Previous_Purchases,Payment_Method,Frequency_of_Purchases
0,1,32,Other,Shoes,Footwear,390.95,HYD,M,Black,Rainy,1.2,Inactive,Standard,1,NO,2,Card,Low
1,2,47,Female,Smartwatch,Electronics,5.39,Bangalore,-,Red,All,3.4,Active,Standard,0,YES,9,Wallet,High
2,3,20,Male,Eggs,Groceries,305.73,HYD,S,Blue,All,4.8,Inactive,Express,1,YES,1,Wallet,High
3,4,25,Other,Boots,Footwear,90.82,Mumbai,XL,Blue,All,4.0,Inactive,Express,1,NO,3,Card,Low
4,5,51,Female,Laptop,Electronics,447.94,Bangalore,S,Green,All,4.0,Active,Standard,1,NO,12,UPI,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,146,54,Other,Headphones,Electronics,227.64,HYD,L,Black,All,2.9,Active,Standard,0,NO,4,Card,High
146,147,44,Male,Laptop,Electronics,14.50,HYD,M,Blue,All,3.1,Active,Standard,0,NO,17,UPI,Low
147,148,54,Male,Belt,Accessories,26.10,Mumbai,L,Red,All,3.6,Active,Prime,0,NO,3,Card,Medium
148,149,46,Male,Rice,Groceries,232.43,HYD,M,Green,Summer,4.8,Active,Standard,0,YES,1,Wallet,Low
149,150,57,Male,Jeans,Clothing,413.44,Delhi,L,Red,Rainy,4.6,Active,Standard,0,YES,11,UPI,High