In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('titanic_custom_100rows.csv')
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3  female  30.3      1      0  95.8961        S
1         1       2  female  18.0      1      1  69.2931        C
2         0       2  female  37.9      2      1  50.8395        C
3         0       2  female  34.3      1      0  51.8374        C
4         0       2  female  19.0      2      2  12.9120        C

In [3]:
df.isnull().sum()

Survived     0
Pclass       0
Sex          0
Age         10
SibSp        0
Parch        0
Fare         0
Embarked     6
dtype: int64

In [12]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [13]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [14]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3  female  30.3      1      0  95.8961        S
1         1       2  female  18.0      1      1  69.2931        C
2         0       2  female  37.9      2      1  50.8395        C
3         0       2  female  34.3      1      0  51.8374        C
4         0       2  female  19.0      2      2  12.9120        C

In [30]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(
     df.drop('Survived', axis=1), 
     df['Survived'], 
     test_size=0.2, 
     random_state=1
)

In [38]:
from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder
#from sklearn.impute import SimpleImputer

transformer = ColumnTransformer(
    transformers = [
        ('ohe1', OneHotEncoder(drop='first'), ['Sex']),
        ('ohe2', OneHotEncoder(drop='first'), ['Embarked'])
    ], remainder='passthrough'
)

x_train_transformer = transformer.fit_transform(x_train)
x_test_transformer = transformer.transform(x_test)