In [1]:
import pandas as pd;
import requests;

In [17]:
res = requests.get('https://jsonplaceholder.typicode.com/posts')

In [19]:
df = pd.DataFrame(res.json())[['id', 'title', 'body']]

In [22]:
df.head()

,id,title,body
0,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [24]:
df.shape

(100, 3)

In [25]:
df.to_csv('data.csv')

In [26]:
load = pd.read_csv('data.csv')
load

,Unnamed: 0,id,title,body
0,0,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,2,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,3,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,4,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,95,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,96,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,97,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,98,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,99,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...