In [1]:
import pandas as pd;
import numpy as np;

In [2]:
df = pd.read_csv('covid_data_100rows.csv')
df.head()

   age  gender  fever   cough     city has_covid
0   58  Female  103.6  Severe  Chennai        No
1   71    Male  103.8  Severe  Chennai        No
2   48  Female   99.0    Mild  Chennai       Yes
3   34    Male   99.1    Mild   Mumbai       Yes
4   62  Female  100.4  Severe  Chennai       Yes

In [4]:
df.isnull().sum()

age           0
gender        0
fever        13
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
     df.drop('has_covid', axis=1), 
     df['has_covid'], 
     test_size=0.2,
     random_state=1
)
x_train.shape, x_test.shape

((80, 5), (20, 5))

In [11]:
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer(transformer=[
    ('tnf1',SimpleImputer(), ['Fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Severe']]),['Cough']),
    ('tnf3',OneHotencoder())
], remainder='passthrough')

NameError: name 'SimpleImputer' is not defined

In [ ]:
df['']