In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [90]:
df = pd.read_csv('education_dataset_100.csv')
df.head()

   age gender   review education purchased
0   56   Male  Average        PG        No
1   69   Male  Average        UG       Yes
2   46   Male     Poor        PG       Yes
3   32   Male  Average        UG        No
4   60   Male     Poor        PG        No

In [91]:
df = df.iloc[ : , 2: ]

In [92]:
df.head()

    review education purchased
0  Average        PG        No
1  Average        UG       Yes
2     Poor        PG       Yes
3  Average        UG        No
4     Poor        PG        No

In [93]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
    df.iloc[ : , 0:2], 
    df.iloc[ : , -1 ],
    test_size=0.2,
    random_state=1
)

x_train.shape , x_test.shape

((80, 2), (20, 2))

In [94]:
from sklearn.preprocessing import OrdinalEncoder

# Make sure THIS x_train contains original text values (strings)
obj = OrdinalEncoder(categories=[
    ['Poor', 'Average', 'Good'],
    ['HS', 'UG', 'PG']
])

obj.fit(x_train)

x_train = obj.transform(x_train)
x_test = obj.transform(x_test)

x_train = pd.DataFrame(x_train, columns=['review', 'education'])
x_test = pd.DataFrame(x_test, columns=['review', 'education'])

x_train

    review  education
0      0.0        2.0
1      1.0        2.0
2      0.0        0.0
3      0.0        2.0
4      0.0        0.0
..     ...        ...
75     0.0        2.0
76     2.0        2.0
77     0.0        0.0
78     1.0        0.0
79     0.0        0.0

[80 rows x 2 columns]

In [95]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Fit on training data only
le.fit(y_train)

# Transform
y_train = le.transform(y_train)
y_test = le.transform(y_test)

# Convert to DataFrame
y_train = pd.DataFrame(y_train, columns=['purchased'])
y_test = pd.DataFrame(y_test, columns=['purchased'])

y_train

    purchased
0           1
1           1
2           0
3           0
4           0
..        ...
75          0
76          1
77          1
78          0
79          1

[80 rows x 1 columns]

In [96]:
data = pd.concat([x_train, y_train], axis=1)
data

    review  education  purchased
0      0.0        2.0          1
1      1.0        2.0          1
2      0.0        0.0          0
3      0.0        2.0          0
4      0.0        0.0          0
..     ...        ...        ...
75     0.0        2.0          0
76     2.0        2.0          1
77     0.0        0.0          1
78     1.0        0.0          0
79     0.0        0.0          1

[80 rows x 3 columns]