In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import cross_val_score 
from sklearn.linear_model import LogisticRegression 

import seaborn as sns

In [2]:
df = pd.read_csv('titanic_synthetic_1000.csv')
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  37.0       1      5      0         1
1  28.1       1      2      1         1
2  39.1       3      3      4         0
3  51.3       3      3      0         1
4  26.7       1      0      0         1

In [4]:
x = df.iloc[ : , 0 : 4] 
y = df.iloc[ : , -1]

In [5]:
np.mean(cross_val_score(LogisticRegression(), x, y, scoring='accuracy', cv=20))

np.float64(0.6360000000000001)

In [6]:
# Feature Construction 
x['Family_size'] = x['SibSp'] + x['Parch'] + 1

In [8]:
x.head()

    Age  Pclass  SibSp  Parch  Family_size
0  37.0       1      5      0            6
1  28.1       1      2      1            4
2  39.1       3      3      4            8
3  51.3       3      3      0            4
4  26.7       1      0      0            1

In [13]:
def myfunc(num): 
    if num == 1:
        return 0 
    elif num > 1 and num <= 4:
        return 1
    else:
        return 2

myfunc(4)

1

In [16]:
x['Family_type'] = x['Family_size'].apply(myfunc)

In [17]:
x.head()

    Age  Pclass  SibSp  Parch  Family_size  Family_type
0  37.0       1      5      0            1            0
1  28.1       1      2      1            0            2
2  39.1       3      3      4            1            0
3  51.3       3      3      0            0            2
4  26.7       1      0      0            2            1

In [18]:
x.drop(columns=['SibSp', 'Parch', 'Family_size'], inplace=True)

In [19]:
x.head()

    Age  Pclass  Family_type
0  37.0       1            0
1  28.1       1            2
2  39.1       3            0
3  51.3       3            2
4  26.7       1            1

In [20]:
np.mean(cross_val_score(LogisticRegression(), x, y, scoring='accuracy', cv=20))

np.float64(0.6360000000000001)