In [86]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [87]:
data = pd.read_csv('ev_vs_petrol_dataset_v3.csv', usecols=['country', 'year', 'ev_sales', 'ev_market_share', 'urban_population_percent', 'is_ev_dominant'])
data.head()

,country,year,ev_sales,ev_market_share,urban_population_percent,is_ev_dominant
0,Australia,2010,5,0.00,88.8,0
1,Australia,2010,57,0.01,88.8,0
2,Australia,2010,37,0.01,88.8,0
3,Australia,2011,11,0.01,88.9,0
4,Australia,2011,129,0.02,88.9,0

In [88]:
data.isnull().sum()

country                     0
year                        0
ev_sales                    0
ev_market_share             0
urban_population_percent    0
is_ev_dominant              0
dtype: int64

In [89]:
data.duplicated().sum()

np.int64(0)

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   1200 non-null   object
 1   year                      1200 non-null   int64
 2   ev_sales                  1200 non-null   int64
 3   ev_market_share           1200 non-null   float64
 4   urban_population_percent  1200 non-null   float64
 5   is_ev_dominant            1200 non-null   int64
dtypes: float64(2), int64(3), object(1)
memory usage: 56.4+ KB

In [91]:
data.describe()

,year,ev_sales,ev_market_share,urban_population_percent,is_ev_dominant
count,1200.000000,1.200000e+03,1200.000000,1200.000000,1200.000000
mean,2017.500000,6.360236e+04,6.327992,74.609000,0.018333
std,4.611694,4.079506e+05,13.231723,14.858811,0.134210
min,2010.000000,5.000000e+00,0.000000,30.900000,0.000000
25%,2013.750000,2.002500e+02,0.077500,64.175000,0.000000
50%,2017.500000,2.731500e+03,0.830000,79.900000,0.000000
75%,2021.250000,1.990500e+04,5.832500,84.075000,0.000000
max,2025.000000,7.670056e+06,95.000000,98.500000,1.000000

In [92]:
data.shape

(1200, 6)

In [93]:
from ydata_profiling import ProfileReport 
df = ProfileReport(data) 
df.to_file(output_file='Ev_dataset.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|███████████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00, 121.50it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [94]:
data.head()

,country,year,ev_sales,ev_market_share,urban_population_percent,is_ev_dominant
0,Australia,2010,5,0.00,88.8,0
1,Australia,2010,57,0.01,88.8,0
2,Australia,2010,37,0.01,88.8,0
3,Australia,2011,11,0.01,88.9,0
4,Australia,2011,129,0.02,88.9,0

In [95]:
# 1. Keep only 4 main countries
main_countries = ['Australia', 'China', 'India', 'USA']

data['country'] = data['country'].apply(
    lambda x: x if x in main_countries else 'Other'
)

# 2. Train-test split
from sklearn.model_selection import train_test_split

X = data.drop('is_ev_dominant', axis=1)
y = data['is_ev_dominant']

x_train, x_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=1
)

# 3. OneHotEncoder for 'country'
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

transformer = ColumnTransformer(
    transformers=[
        ('country_ohe', OneHotEncoder(sparse_output=False), ['country'])
    ],
    remainder='passthrough'
)

x_train_enc = transformer.fit_transform(x_train)
x_test_enc = transformer.transform(x_test)

# 4. Column names
ohe = transformer.named_transformers_['country_ohe']
ohe_cols = ohe.get_feature_names_out(['country'])     # 4 columns

other_cols = [c for c in x_train.columns if c != 'country']

final_cols = list(ohe_cols) + other_cols

# 5. Convert to DataFrame
x_train_df = pd.DataFrame(x_train_enc, columns=final_cols)
x_test_df = pd.DataFrame(x_test_enc, columns=final_cols)

x_train_df.head()

,country_Australia,country_China,country_India,country_Other,year,ev_sales,ev_market_share,urban_population_percent
0,0.0,0.0,0.0,1.0,2018.0,11922.0,2.61,81.4
1,0.0,0.0,0.0,1.0,2010.0,170.0,0.06,83.0
2,0.0,0.0,0.0,1.0,2012.0,24.0,0.01,68.4
3,0.0,0.0,0.0,1.0,2024.0,24008.0,8.66,81.3
4,0.0,0.0,0.0,1.0,2017.0,157.0,0.47,64.5

In [97]:
x_train_df.to_csv('ev_dataset.csv', index=False)