In [1]:
import pandas as pd 
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split 
from sklearn.impute import KNNImputer, SimpleImputer 
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('titanic_5000_missing_age.csv')
df.head()

         Age  Pclass      Fare  Survived
0   5.939577       3   51.3938         0
1        NaN       3  391.5619         1
2  25.695244       3  495.7963         0
3   6.694663       1  267.9434         1
4   1.995994       3  342.9759         1

In [4]:
df.isnull().mean() * 100

Age         13.98
Pclass       0.00
Fare         0.00
Survived     0.00
dtype: float64

In [5]:
x = df.drop('Survived', axis=1)
y = df['Survived']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [6]:
x_train.head()

            Age  Pclass      Fare
1334  37.828346       3  184.5546
4768  69.308055       3   38.2782
65    58.198306       2  430.3833
177   29.294855       3  387.5382
4489        NaN       3   36.8966

In [53]:
knn = KNNImputer(n_neighbors=4, weights='distance') 
x_train_trf = knn.fit_transform(x_train)
x_test_trf = knn.transform(x_test)

#pd.DataFrame(x_train_trf, columns=x_train.columns).isnull().sum()

lr = LogisticRegression()
lr.fit(x_train_trf, y_train)
y_pred = lr.predict(x_test_trf)
accuracy_score(y_test, y_pred)

0.506

In [54]:
si = SimpleImputer() 
x_train_trf2 = si.fit_transform(x_train)
x_test_trf2 = si.transform(x_test)

lr = LogisticRegression()
lr.fit(x_train_trf2, y_train)
y_pred = lr.predict(x_test_trf2)
accuracy_score(y_test, y_pred)

0.5

0.5