In [1]:
import pandas as pd;
import numpy as np;

In [2]:
df = pd.read_csv('Premier_League_Player_Statistics_2023-24_20260207_050947 (1).csv')
df.head()

,Player,Team,Position,Position_Group,Appearances,Minutes,Minutes_Per_Appearance,Goals,Assists,Goal_Contributions,...,Efficiency_Rank,Performance_Category,Discipline_Category,Efficiency_Rating,Season,Competition,Country,League_Name,League_Level,Data_Collection_Date
0,Erling Haaland,Manchester City,Forward,FWD,31,2580,83,27,5,32,...,1,World Class (25+),Excellent,2.89,2023/24,Premier League,England,English Premier League,1,2026-02-07
1,Cole Palmer,Chelsea,Midfielder,MID,33,2880,87,22,11,33,...,2,World Class (25+),Good,2.61,2023/24,Premier League,England,English Premier League,1,2026-02-07
2,Alexander Isak,Newcastle United,Forward,FWD,30,2550,85,21,2,23,...,5,Elite (15-24),Excellent,2.22,2023/24,Premier League,England,English Premier League,1,2026-02-07
3,Ollie Watkins,Aston Villa,Forward,FWD,35,3050,87,19,13,32,...,3,World Class (25+),Good,2.30,2023/24,Premier League,England,English Premier League,1,2026-02-07
4,Mohamed Salah,Liverpool,Forward,FWD,32,2750,86,18,10,28,...,4,World Class (25+),Excellent,2.28,2023/24,Premier League,England,English Premier League,1,2026-02-07

In [3]:
df.shape

(52, 34)

In [4]:
df.isnull().sum()

Player                       0
Team                         0
Position                     0
Position_Group               0
Appearances                  0
Minutes                      0
Minutes_Per_Appearance       0
Goals                        0
Assists                      0
Goal_Contributions           0
Goals_Per_90                 0
Assists_Per_90               0
Goal_Contributions_Per_90    0
Minutes_Per_Goal             0
Minutes_Per_Assist           0
Yellow_Cards                 0
Red_Cards                    0
Discipline_Score             0
Clean_Sheets                 0
Clean_Sheet_Percentage       0
Goals_Rank                   0
Assists_Rank                 0
Goal_Contributions_Rank      0
Clean_Sheets_Rank            0
Efficiency_Rank              0
Performance_Category         0
Discipline_Category          0
Efficiency_Rating            0
Season                       0
Competition                  0
Country                      0
League_Name                  0
League_Level                 0
Data_Collection_Date         0
dtype: int64

In [5]:
df.head()

,Player,Team,Position,Position_Group,Appearances,Minutes,Minutes_Per_Appearance,Goals,Assists,Goal_Contributions,...,Efficiency_Rank,Performance_Category,Discipline_Category,Efficiency_Rating,Season,Competition,Country,League_Name,League_Level,Data_Collection_Date
0,Erling Haaland,Manchester City,Forward,FWD,31,2580,83,27,5,32,...,1,World Class (25+),Excellent,2.89,2023/24,Premier League,England,English Premier League,1,2026-02-07
1,Cole Palmer,Chelsea,Midfielder,MID,33,2880,87,22,11,33,...,2,World Class (25+),Good,2.61,2023/24,Premier League,England,English Premier League,1,2026-02-07
2,Alexander Isak,Newcastle United,Forward,FWD,30,2550,85,21,2,23,...,5,Elite (15-24),Excellent,2.22,2023/24,Premier League,England,English Premier League,1,2026-02-07
3,Ollie Watkins,Aston Villa,Forward,FWD,35,3050,87,19,13,32,...,3,World Class (25+),Good,2.30,2023/24,Premier League,England,English Premier League,1,2026-02-07
4,Mohamed Salah,Liverpool,Forward,FWD,32,2750,86,18,10,28,...,4,World Class (25+),Excellent,2.28,2023/24,Premier League,England,English Premier League,1,2026-02-07

In [10]:
data = df[['Player', 'Team', 'Position', 'Minutes', 'Goals', 'Goal_Contributions', 'Discipline_Category', 'Efficiency_Rating']]
data.head()

,Player,Team,Position,Minutes,Goals,Goal_Contributions,Discipline_Category,Efficiency_Rating
0,Erling Haaland,Manchester City,Forward,2580,27,32,Excellent,2.89
1,Cole Palmer,Chelsea,Midfielder,2880,22,33,Good,2.61
2,Alexander Isak,Newcastle United,Forward,2550,21,23,Excellent,2.22
3,Ollie Watkins,Aston Villa,Forward,3050,19,32,Good,2.30
4,Mohamed Salah,Liverpool,Forward,2750,18,28,Excellent,2.28

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
    data.drop('Efficiency_Rating', axis=1), 
    data['Efficiency_Rating'], 
    test_size=0.2, 
    random_state=1
)
x_train.shape, x_test.shape

((41, 7), (11, 7))

In [17]:
x_train.head()

,Player,Team,Position,Minutes,Goals,Goal_Contributions,Discipline_Category
3,Ollie Watkins,Aston Villa,Forward,3050,19,32,Good
21,Alisson Becker,Liverpool,Goalkeeper,2520,0,1,Perfect
48,Pedro Neto,Wolves,Forward,1380,2,11,Excellent
24,Aaron Ramsdale,Arsenal,Goalkeeper,180,0,0,Perfect
40,Leandro Trossard,Arsenal,Forward,1990,12,14,Good