In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('random_missing_1000rows.csv')
df.head()

       col1      col2      col3      col4      col5
0  0.496714 -0.138264  0.647689  1.523030 -0.234153
1 -0.234137  1.579213  0.767435 -0.469474       NaN
2 -0.463418 -0.465730  0.241962 -1.913280       NaN
3 -0.562288       NaN  0.314247 -0.908024 -1.412304
4  1.465649 -0.225776  0.067528 -1.424748       NaN

In [6]:
df.isnull().mean()*100

col1    10.0
col2     9.6
col3     8.9
col4    11.1
col5    10.6
dtype: float64

In [7]:
df.shape

(1000, 5)

In [10]:
cols = [var for var in df.columns if df[var].isnull().mean() < 0.10 and df[var].isnull().mean() > 0]
cols

['col2', 'col3']

In [13]:
df[cols].sample(5)

         col2      col3
362  0.146793  1.612221
889 -0.878263  0.099887
776  0.175536 -1.843794
348 -0.168822  0.070052
656  0.030031 -2.152384

In [15]:
len(df[cols].dropna()) / len(df)

0.821

In [16]:
new_df = df[cols].dropna() 
df.shape, new_df.shape

((1000, 5), (821, 2))