In [83]:
import pandas as pd 
import numpy as np

In [84]:
df = pd.read_csv('titanic_missing_500.csv')
df.head()

   Survived   Age     Fare
0         1   6.0  20.6311
1         1  66.0  78.0443
2         1  55.0   7.1118
3         0  68.0      NaN
4         1  60.0  81.4435

In [85]:
from sklearn.model_selection import train_test_split 

x = df.drop('Survived', axis=1) 
y = df['Survived']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=3)

In [86]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer 

si = SimpleImputer(add_indicator=True)
x_train_trf = si.fit_transform(x_train)
x_test_trf = si.transform(x_test)

clf = LogisticRegression()

# Train on training data
clf.fit(x_train_trf, y_train)

# Predict on test data
y_pred = clf.predict(x_test_trf)

# Evaluate
accuracy_score(y_test, y_pred)

0.49